.chat-message:not(.context) {
    content-visibility: auto;
}

#idleuh-identify {
    .no-item {
        text-align: center;
    }

    .item {
        display: flex;
        padding: 4px 6px;
        border-radius: 2px;
        align-items: center;
        gap: 4px;

        &:hover {
            background-color: #0000001f;
        }

        .img {
            flex: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 12px;
            box-shadow: inset 0 0 0 1px var(--tertiary);
            border-radius: 3px;
        }

        .name {
            flex: 1;
        }

        .actions {
            flex: 0;
            display: flex;
            flex-wrap: nowrap;
            gap: 6px;
            font-size: 20px;
        }

        &.checked .name {
            text-decoration-line: line-through;
        }

        &.identified .name {
            color: red;
        }

        &.checked :is([data-action="checks"], [data-action="identify"]),
        &.identified :is([data-action="checks"], [data-action="remove"]),
        &:not(.identified) [data-action="chat"] {
            color: grey;
            text-shadow: none;
            pointer-events: none;
        }
    }

    [data-action="reset"] {
        margin-top: 1em;
    }
}
